<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fi.thl.koronahaavi">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".VilkkuApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Vilkku.NoActionBar"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:installLocation="internalOnly"
        android:usesCleartextTraffic="${allowCleartext}">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Vilkku.Launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Define an explicit intent-filter because we need to check app state before navigating -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:host="koronavilkku.fi"/>
                <data android:path="/i"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".onboarding.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Vilkku.NoActionBar.DefaultBackground"/>

        <!-- Definition required here to use a theme with toolbar -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Vilkku"/>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Vilkku"/>

        <receiver
            android:name=".exposure.ExposureStateUpdatedReceiver"
            android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
                <action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_NOT_FOUND" />
            </intent-filter>
        </receiver>

        <!-- remove default work manager initializer since we are providing a custom one in app class -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"
            android:exported="false" />

    </application>
</manifest>